<div class="row">
  {{#each notes}}
  <div class="col-md-3">
    <div class="card" >
      <div class="card-body">
        <h4 class="card-title text-center">
          {{ title }} <a href="/notes/edit/{{_id}}"><i class="fas fa-edit"></i></a>
        </h4>
        <img src="{{ path }}" class="card-img-top" alt="{{ filename }}">
        <p>{{ description }}</p>
        <!-- DELETE REQUEST -->
        <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          
          <button type="submit" class="btn btn-danger btn-block btn-sm"><i class="fas fa-trash-alt"></i></button>
        </form>
      </div>
    </div>
  </div>
  {{else}}
  <div class="card col-md-3">
    <div class="card-body">
      <h1>Hello {{user.name}}</h1>
      <p clsss="lead">There are not Notes yet.</p>
      <a href="/notes/add" class="btn btn-success btn-block">Create One!</a>
    </div>
  </div>
  {{/each}}
  <div class="col-md-3">
    <div class="card-body text-center">
            <a href="/notes/add"><img class="card-img-top" style="height: 80px; width: 80px;" src="https://img.icons8.com/clouds/100/000000/add.png"></i></a>
    </div>
  </div>
</div>